@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    box-sizing: border-box;
}

nav {
   height: 90px;
   display: flex;
}

.row {
    max-width: 1317px;
    margin: 0 auto;
    width: 100%;
}

h1 {
    font-size: 48px;
    color: #243e63;
    font-weight: bolder;
    }

h2 {
    font-size: 20px;
}

h3 {
    font-size: 10px;
}
    
    .purple {
        color: #6415ff;
    }
    
    p {
        line-height: 1.5;
    }
    
    a {
        text-decoration: none;
        color: #242424;
        margin: 0 24px;
        font-size: 14px;
        line-height: 2.5;
        padding: 4px 0px 0px;
    }
    
    a:hover {
        text-decoration: underline;
        color: #7342d6;
    }
    
    img {
        width: 100%;
    }
    
    ul {
        display: flex;
    }
    
    li {
        list-style-type: none;
    }

    button {
        font-size: 15px;
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
        padding: 10px 32px;
        border: transparent;
      background-color: #6415ff;
      color: white;
      margin: 2px 0 0;
    }

    .hover-button {
        font-size: 16px;
        color: white;
        border-radius: 20px;
        border: 5px solid transparent;
        background-color: #786f80;
        cursor: pointer;
        padding: 3px 10px;
        transition: background-color 0.3s;
    }

.btn {
    
}

.nav__container {
    width: 100%;
    max-width: 1317px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}


.logo-text {
    font-size: 24px;
    color: #242424;
    font-weight: bold;
}

/* 

LANDING

*/

header {
    height: calc(90vh - 80px);
}

.email__bar {
    width: 60%;
   border-radius: 20px;
   margin: 7px 0;
   padding: 10px 10px;
   font-size: 15px;
   color: #242424;
}

.design__img {
   width: 700px;
}

.trusted__text {
    font-size: px;
    padding: 60px 0px 0px 0px;
    color: #a0aec0;
}

.header__img--wrapper {
  display: flex;
    flex-wrap: wrap;
   
}

.header__description {
display: flex;
justify-content: space-between;
align-items: center;
padding: 96px 0;
}

.fortune__img {
    width: 400px;
    padding: 10px 0;
}

.trusted__text {
    font-size: 17px;
}

.easy__template {
    font-size: 18px;
    margin: 32px 0;
}

/*

FEATURES

*/

.feature__container {
  padding: 80px;
  height: 100%;
  width: 100%;
}

.box__icon {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    border-radius: 50%;
   margin: 12px 0; 
}

.grid__item {
    display: grid;
    display: flex;
    gap: 10px;
 max-width: 350px;
 padding: 12px;
}

.feature__icon {
    height: 25px;
    width: 25px;
    margin: 17px 17px;
}

.feature__section {
    font-size: 17px;
    text-align: center;
    width: 100%;
}

.feature__big {
   text-align: center;
}

.feature__para {
    text-align: center;
   margin: 12px;
  max-width: 0 auto;
  
}

.feature__row {
    display: flex;
    text-align: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature__text {
margin: 12px 0;
font-size: 25px;
display: flex;
}

.text__para {
 margin: 12px 0;
}

/*

QUALITY WORK

  */
.quality__row {
    max-width: 1280px;
    margin: 0 auto;
}

.quality__description--text {
   font-size: 16px;
   padding-bottom: 20px;
}

.quality__description {
    padding: 96px 0;
    display: flex;
    margin: 0 18.5px;
}

.section__title {
margin: 30px 0;
}

.quality__img--wrapper {
display: flex;
flex-wrap: wrap;
}

.quality__img {
    width: 550.14px;
    height: 352.83px;
    margin: 0 56px;
}

.learn__btn {
    margin: 20px 0;
}

.quality__text {
margin: 30px 0;
}

/*

STEPS
  
*/

.step__row {
    max-width: 1330px;
    margin: 0 auto;
}

.step__description {
padding: 96px 0;
display: flex;
}

.step__number {
font-size: 40px;
color: #a0aec0;
}

.step__para {
margin: 12px 0;
width: calc(100% / 1.1);
}

.step__img {
    width: 631px;
    height: 487px;
    padding: 30px 0;
    margin: 30px 0;
}

.step__text--text {
font-size: 16px;
padding-bottom: 30px 0;
}

.step__text {
    font-size: 20px;
}

.step__big {
    margin: 20px 0;
}

.steps__text {
   margin: 12px 76px;
}

/*

VALUES
  
*/

.value__row {
    max-width: 1280px;
    margin: 0 auto;
}

.value__description--text {
   font-size: 16px;
   padding-bottom: 20px;
}

.value__description {
    padding: 96px 0;
    display: flex;
    margin: 0 18.5px;
}

.value__title {
margin: 30px 0;
}

.value__sign--wrapper {
    display: flex;
}

.value__box {
    display: flex;
}

.value__img--wrapper {
display: flex;
flex-wrap: wrap;
}

.value__img {
    width: 640.14px;
    height: 352.83px;
    margin: 50px 56px;
}

.learn__btn {
    margin: 20px 0;
}

.value__text {
margin: 30px 0;
}

.grid__value {
display: grid;
}

.dollar__text {

}

.values__text {
display: flex;
}

/*

PRICING

*/

.price__row {
    max-width: 1280px;
    margin: 0 auto;
}

.price__description {
padding: 96px 0;
height: 100vh;
}

.price__wrapper {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 0 10px;
}

.price__container {
    display: flex;
    flex-direction: column;
}

.price__box {
height: 607.5px;
width: 384px;
border-radius: 6px;
background-color:rgb(129,230,217);

}

.pricing {
    display: flex;
    justify-content: center;
}

.price__stripe {
    height: 8px;
    width: 384px;
    border: 1px solid transparent;
}

.price__first {
    height: 208.5px;
    width: 384px;
    border: 1px solid rgb(221, 212, 212);
    padding: 32px;
    background-color: #fff;
}

.price__second {
    height: 274px;
    width: 384px;
    border: 1px solid rgb(221, 212, 212);
    padding: 32px;
    background-color: #fff;
}

.button__third {
    height: 117px;
    width: 384px;
    border: 1px solid rgb(221, 212, 212);
    padding: 32px;
    background-color: #fff;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.price__description--text {
text-align: center;
font-size: 16px;
padding-bottom: 12px;
}

.price__text--description {
    text-align: center;
}

.price {
font-size: 20px;
text-align: center;
font-weight: bold;
}

.price__title {
text-align: center;
}

.price__text--text {
    font-size: 16px;
color: #a0aec0;
text-align: center;
padding: 12px;
}

.price__text {
font-size: 20px;
color: #a0aec0;
text-align: center;
margin: 20px 0;
}

.price__text--description {
   margin: 20px 0;
   padding-bottom: 40px;
}

.dollar {
font-size: 48px;
font-weight: bold;
text-align: center;
padding: 4px;
}

.price__btn {
background-color: rgb(56,178,172);
}

/* 

TESTIMONIALS

*/

.testimonial__row {
    max-width: 1263px;
    margin: 0 auto;
}

.testimonial__description {
    padding: 96px 0;
    display: flex;
    align-items: center;
}

.testimonial__img {
    width: 631.5px;
    height: 608px;
    padding: 20px 0;
}

.testimonials__text {
padding: 0 0 0 64px;
}

.testimonial__text {
    font-size: 16px;
}

.testimonial__para {
color: grey;
margin: 40px 0;
font-size: 18px;
}

.testimonial__big {
margin: 20px 0;
}

.stars {
    color: rgba(246, 173, 85);
}

.amazing {
margin: 12px 0;
}

.amazing__para {
margin: 30px 0;
}

.smile {
width: 80px;
height: 80px;
border-radius: 50%;
}

.smile__para {
color: grey;
font-size: 16px;
}

.name {
    margin-top: 10px 0;
}

.grid_item--img {
display: grid;
align-items: center;
}

/* 

CONTACT US

*/

.contact__row {
    max-width: 1263px;
    margin: 0 auto;
}

.start__row {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #243e63;
    margin: 0 119.5px;
    padding: 0 32px;
    margin: 0 auto;
}

.contact__container {
    background-color: #6415ff;
    padding: 96px 0;
    height: 282px;
    border-radius: 5px;
    margin: 110px 0;
}

.contact {
    font-size: 30px;
    color: #f7fafc;
    width: calc(100% / 2.5); 
}

.start__btn {
    width: 173.44px;
    height: 66px;
    border: 1px solid transparent;
    font-size: 16px;
    margin: 1px 32px 1px 1px;
    padding: 20px 40px;
    color: #f7fafc;
    background-color: #f56565;
    border-radius: 50px;
}

.contact__btn {
    width: 172.58px;
    height: 66px;
    border: 1px solid #f7fafc;
    font-size: 16px;
    margin: 1px;
    padding: 20px 40px;
    background-color: #6415ff;
    color: #f7fafc;
    border-radius: 50px;
}

/* 

FOOTER

*/

.footer__row {
    max-width: 100%;
    margin: 0 auto;
}

.footer__columns { 
    height: 522px;
   margin: 0px 0px -32px;
    background-color: #6415ff;
    padding: 40px 32px;

}

.footer__inner--row {
    max-width: 1263px;
    margin: 0 auto;
    height: 378px;
   
}

.footer__main {
font-size: 20px;
color: #f7fafc;
margin: 25px 0;
}

.footer__submain {
font-size: 20px;
color: #f7fafc;
margin: 8px 0;
}

.footer__logo {
    height: 40px;
    width: 40px;
   
}

.footer__bottom {
display: flex;
align-items: center;
}

.footer__bottom--container {
    width: 100%;
    max-width: 1317px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 0;
}

.footer__text {
font-size: 16px;
color: #f7fafc;
font-weight: bold;
display: flex;
}

.social__links {
 
   
}

.social__link {
 font-size: 20px;
}

.footer__para {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__wrapper {


}
